<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Databasteknik_Inlämning1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Databasteknik_Inlämning1.Properties.Settings.AddressBookConnectionString"
            connectionString="Data Source=localhost;initial Catalog=AddressBook;Integrated Security=True;User ID=DemoUser;Password=DemoUser"
            providerName="System.Data.SqlClient" />
        <add name="Databasteknik_Inlämning1.Properties.Settings.blablaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\blabla.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Databasteknik_Inlämning1.Properties.Settings>
            <setting name="blablabla" serializeAs="String">
                <value />
            </setting>
        </Databasteknik_Inlämning1.Properties.Settings>
    </userSettings>
</configuration>